SUPABASE_URL = "https://qgofklfqycrmwaekstzu.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFnb2ZrbGZxeWNybXdhZWtzdHp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODY1ODQ4NDUsImV4cCI6MjAwMjE2MDg0NX0.uZiFWv321KM00RIdAcKvJKoFO5KDp6OHhHB4EkTLvJU"